body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	outline-height: 24px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	min-width: 1200px;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.first-screen {
	background-image: url("../img/background_photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 61px;
	padding-bottom: 79px; 
}

.button {
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	border: none;
}

.call-to-action button {
	background-color: #766357;
	color: #ffffff;
	text-transform: uppercase;
}	

.search-button button {
	background-color: #81b3d2;
	color: #ffffff;
	text-transform: uppercase;
}

.search-button:hover {
	color: #669ec0;
}

.search-button:action {
	color: #5496bd;
}

.main-navigation {
	min-height: 56px;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
	position: relative;
}

.main-header-logo {
	order: 0;
	width: 140px;
	height: 72px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;
}

.site-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	width: 1200px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation li {
	padding-top: 22px;
	padding-bottom: 22px;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #cacaca;
}

.tagline {
	padding-top: 60px;
	padding-bottom: 56px;
}

.tagline h1 {
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.tagline p {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-align: center;
}

.features {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: #81b3d2;
	color: #ffffff;
}

.features-images img {
	display: block;
}

.features-item {
	width: 400px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 64px;
	padding-left: 40px;
	padding-right: 40px; 
}

.features-item h3 {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
}

.features-item span {
	font-size: 14px;
	line-height: 21px;
}

.secondary-features-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.secondary-features-item {
	width: 400px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 86px;
	padding-left: 40px;
	padding-right: 40px; 
}

.secondary-features h3 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.other-features {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: #eeeeee;
}

.other-features h3 {
	color: #000000;
}

.call-to-action {
	text-align: center;
}

.call-to-action h2 {
	font-size: 30px;
	line-height: 32px;
	color: #000000;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-first-link {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	color: #000000;
	padding-top: 51px;
	padding-bottom: 53px;
}

.footer-second-link {
	display: flex;
	align-items: center;
}

.footer-second-link img {
	margin-left: 8px;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social li {
	margin-right: 6px;
}

.footer-socila li:last-child {
	margin-right: 0;
}

.footer-social  a:hover {
	color: #81b3d2;
}

.footer-social a:focus {
	color: #cacaca;
}

.search-form label {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;	
}

.footer-copyright {
	text-align: center;
	color: #000000;
	padding-top: 39px;
	padding-bottom: 40px;
}

.footer-copyright a:hover {
	color: #81b3d2;
}

.footer-copyright a:focus {
	color: #cacaca;
}

.filters	{
	background-color: #ffffff;
	background-image: url("../img/background_photo2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.filter-form {
	display: flex;
	justify-content: space-between;
	padding-left: 72px;
	padding-right: 74px;
	color: #ffffff;
	padding-top: 31px;
	padding-bottom: 31px;
}

.filter {
	display: flex;
}

.filter-checkbox {
	padding-right: 116px;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 14px;
	line-height: 21px;
}

.filter ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.calculation-input {
	font-size: 14px;
	line-height: 21px;
}

.filter-checkbox legend,
.calculation span {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.sorting {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.sorting h2 {
	font-size: 21px;
	line-height: 26px;
	padding-top: 31px;
	padding-bottom: 33px;
}

.sort-type span {
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	padding-top: 41px;
	padding-bottom: 38px;
}

.sort-type ul {
	display: flex;
	list-style-type: none;
}

.sort-type a {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;	
}

.sort-type a:hover {
	color: #81b3d2;
}

.sort-type a:focus {
	color: #000000;
}

.sort-type a:action {
	color: #cacaca;
}

.scroll-elements a:hover {
	color: #000000;
}

.scroll-elements a:focus {
	color: #81b3d2;
}	

.scroll-elements a:action {
	color: #cacaca;
}

.hotel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 72px;
	padding-bottom: 61px; 
} 

.hotel h2 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.hotel-type span {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.hotel-content {
	margin-left: 30px;
	font-size: 14px;
	line-height: 21px;
}

.buttons {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	vertical-align: middle;
	text-transform: uppercase;
	color: #ffffff;
}

.stars {
	color: #81b3d2;
	margin-right: 72px;
}

.hotel-raiting p {
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: underline;
	background-color: #f2f2f2;
	margin-right: 72px;
}