body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	outline-height: 24px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	min-width: 1200px;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.first-screen {
	background-image: url("../img/background_photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 76px;
	padding-bottom: 76px;
}
/*
.button {
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	border: none;
}*/

button.button {
  width: 568px;
  padding-top: 24px;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

button.calendar {
  position: absolute;
}

.call-to-action button {
	background-color: #766357;
	color: #ffffff;
	text-transform: uppercase;
}	

.search-button button {
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  padding-top: 17px;
  padding-bottom: 22px;
  padding-left: 200px;
  padding-right: 229px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.search-button:hover {
	color: #669ec0;
}

.search-button:action {
	color: #5496bd;
}

.main-navigation {
	height: 56px;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
	position: relative;
}

.main-header-logo {
	order: 0;
	width: 140px;
	height: 72px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;
}

.site-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	width: 1200px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation a {
	color: #000000;
	font-weight: 700;
	line-height: 56px;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #cacaca;
}

.tagline {
	padding-top: 47px;
	padding-bottom: 36px;
	padding-left: 300px;
	padding-right: 300px;
}

.tagline h1 {
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 26px;
}

.tagline p {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-align: center;
}

.features {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #81b3d2;
	color: #ffffff;
}

.features-images img {
	display: block;
}

.features-item {
	width: 400px;
	text-align: center;
	padding-top: 28px;
	padding-left: 40px;
	padding-right: 40px; 
}

.features-item p {
	margin-top: 20px;
  line-height: 24px;
}

.features-item h3 {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	padding-left: 60px;
   padding-right: 60px;
}

.features-item span {
	font-size: 14px;
	line-height: 21px;
}

.secondary-features-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.secondary-features-item {
	width: 400px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 86px;
	padding-left: 40px;
	padding-right: 40px; 
}

.icon-height {
	height: 76px;
}

.secondary-features h3 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.other-features {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: #eeeeee;
}

.other-features h3 {
	color: #000000;
}

.call-to-action {
	text-align: center;
	padding-top: 10px;
	position: relative;
}

.hotels-search {
	position: absolute;
	top: 100;
	left: 50%;
	margin-left: -284px;
	text-align: left;
	width: 568px;
	background: #ffffff;
	box-sizing: border-box;
	padding: 55px;
}

.call-to-action h2 {
	font-size: 30px;
	line-height: 32px;
	color: #000000;
}

.time-to-stay {
	display: flex;
  margin-bottom: 29px;
}

button.calendar {
  position: absolute;
  right: -20px;
  top: 0px;
	background: url(../img/calendar.png) no-repeat center;
	border: none;
}    

.form-calendar {
	position: relative;
}

.visitors {
display: flex;
}

.search-form input {
	margin: 0;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-first-link {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	color: #000000;
	padding-top: 51px;
	padding-bottom: 53px;
}

.footer-second-link {
	display: flex;
	align-items: center;
}

.footer-second-link img {
	margin-left: 8px;
}

.footer-social {
  text-align: center;
}

.social-button-tw {
	width: 18px;
	height: 17px;
	margin-left: 3px;
	background: url(../img/twitter.svg) no-repeat center;
	position: absolute;
  bottom: 15px;
  right: 15px;
}

.social-button-fb {
	width: 12px;
	height: 22px;
	margin-left: 3px;
	background: url(../img/fb-icon.svg) no-repeat center;
	position: absolute;
  bottom: 15px;
  right: 15px;
}

.social-button-yt {
	width: 20px;
	height: 16px;
	margin-left: 3px;
	background: url(../img/youtube.svg) no-repeat center;
	position: absolute;
  bottom: 15px;
  right: 15px;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social li {
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	margin-right: 6px;
	position: relative;
}

.footer-socila li:last-child {
	margin-right: 0;
}

.footer-social  a:hover {
	color: #81b3d2;
}

.footer-social a:focus {
	color: #cacaca;
}

.search-form label {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;	
}

.footer-copyright {
	text-align: center;
	color: #000000;
	padding-top: 39px;
	padding-bottom: 40px;
}

.footer-copyright a:hover {
	color: #81b3d2;
}

.footer-copyright a:focus {
	color: #cacaca;
}

.filters	{
	background-color: #ffffff;
	background-image: url("../img/background_photo2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.filter-form {
	display: flex;
	justify-content: space-between;
	padding-left: 72px;
	padding-right: 72px;
	color: #ffffff;
	padding-top: 31px;
}

.filter {
	display: flex;
}

.filter-option {
    margin-bottom: 36px;
}

.filter-checkbox {
	padding-right: 116px;
}

.filter-checkbox fieldset {
	padding: 0;
}

.filter fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.filter legend {
	font-size: 14px;
	line-height: 21px;
}

.filter ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.calculation {
	width: 314px;
}

.calculation-input {
	font-size: 14px;
	line-height: 21px;
}

.calculation-input-wrapp {
	display: flex;
	border: 2px solid #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2px;
}

.cal-from {
	display: flex;
	align-items: baseline;
	width: 50%;
	padding-left: 75px;
}

.cal-before {
	display: flex;
	align-items: baseline;
	width: 50%;
}

.cal-input {
	width: : 62px;
	background: transparent;
	border: none;
	color: #ffffff;
}

.filter-checkbox legend,
.calculation span {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	margin-bottom: 31px;
}

.filter-input-checkbox {
	display: none;
}

.checkbox-custom {
	position: relative;
	width: 23px;
	height: 23px;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.checkbox-custom {
	position: relative;      
	width: 20px;             
	height: 20px;            
	border: 2px solid #ccc;
	border-radius: 3px;
}

.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
	content: url("../img/checkbox-on.svg");             
	display: block;			 
	position: absolute;      
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: url(../img/checkbox-on.svg);     
	border-radius: 2px;
}


.slider {
	width: 100%;
	height: 2px;
	background: #ffffff;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
}

span.first-slider {
	position: absolute;
	display: block;
	width: 20px;
	height: 22px;
	background: url(../img/filter-button.svg);
	top: -9px;
}

span.second-slider {
	position: absolute;
	display: block;
	width: 20px;
	height: 22px;
	background: url(../img/filter-button.svg);
	top: -9px;
	left: 220px;
}

.sorting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 72px;
	padding-right: 72px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.sorting-left {
	display: flex;
	align-items: center;
}

.sorting h2 {
	font-size: 21px;
	line-height: 26px;
	margin-right: 49px;
}

.sort-type {
	display: flex;
	align-items: center;
}

.sort-type span {
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

.sort-type ul {
	display: flex;
	list-style-type: none;
}

.sort-type a {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;	
}

.sort-type a:hover {
	color: #81b3d2;
}

.sort-type a:focus {
	color: #000000;
}

.sort-type a:action {
	color: #cacaca;
}

.scroll-elements a:hover {
	color: #000000;
}

.scroll-elements a:focus {
	color: #81b3d2;
}	

.scroll-elements a:action {
	color: #cacaca;
}

.hotel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 61px; 
} 

.hotel-left {
	display: flex;

}

.hotel h2 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	margin-top: 0;
}

.hotel-type span {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.hotel-content {
	margin-left: 30px;
	font-size: 14px;
	line-height: 21px;
}

.buttons {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	vertical-align: middle;
	text-transform: uppercase;
	color: #ffffff;
}

.stars {
	color: #81b3d2;
	text-align: right;
}

span.star {
	display: inline-block;
	width: 18px;
	height: 17px;
	margin-left: 3px;
	background: url(../img/star.svg);
}

.hotel-raiting p {
	font-size: 14px;
	text-transform: uppercase;
	background-color: #f2f2f2;
	display: inline-block;
	padding: 5px 13px;

}	
